    <table *ngIf="dataObject" class="fixed_header">
            <tbody >
                <thead >
                    <tr>
                          <th  >Name</th>
                          <th  >Phone</th>
                          <th  >Email</th>
                          <th  >Company</th>
                          <th  >Entry</th>
                          <th  >Number</th>
                          <th  >Address</th>
                          <th  >City</th>
                          <th  >Zip</th>
                          <th  >GeoLocation</th>
                          <th  >PAN</th>
                          <th  >Pin</th>
                          <th  >ID</th>
                          <th  >Status</th>
                          <th  >Fee</th>
                          <th  >Guid</th>
                          <th  >Exit Date</th>
                          <th  >First Date</th>
                          <th  >Recent Date</th>
                          <th  >URL</th>
                          <th> Post </th>
                      </tr>
                       
                </thead>
              <tr *ngFor="let info of pageList, index as i;" class="rows">
                <td>{{info.name}}</td>
                <td>{{info.phone}}</td>
                <td>{{info.email}}</td>
                <td>{{info.company}}</td>
                <td>{{info.date_entry}}</td>
                <td>{{info.org_num}}</td>
                <td>{{info.address_1}}</td>
                <td>{{info.city}}</td>
                <td>{{info.zip}}</td>
                <td>{{info.geo}}</td>
                <td>{{info.pan}}</td>
                <td>{{info.pin}}</td>
                <td>{{info.id}}</td>
                <td>{{info.status}}</td>
                <td>{{info.fee}}</td>
                <td>{{info.guid}}</td>
                <td>{{info.date_exit}}</td>
                <td>{{info.date_first}}</td>
                <td>{{info.date_recent}}</td>
                <td>{{info.url}}</td>
                <td><button (click)="postData(info.id, info.status)">send</button></td>
              </tr>
            </tbody>
    </table>
    <div>
      <input type="number" [(ngModel)]="dataPerPage" (keyup)="numOfPages()" class="input">
      <button id="prev" (click)="prevPage()" [disabled]="currentPage === 1">prev</button>
      <button id="next" (click)="nextPage()" [disabled]="currentPage === numberOfPages">next</button>

    </div>
    
<router-outlet></router-outlet>